<div ng-controller='productsController as Products'>
<h3>Add a New Product</h3>
 <label>Search: <input type='text' ng-model='filter_name' placeholder='search...'></label>
<form>
	   <h1><span ng-bind='Products.error_txt'></span></h1>
	<label>Name: <input type='text' ng-model='Products.newProduct.name'></label>
    <input type='hidden' value='3' ng-model='Products.newProduct.addDate'>
    <label>Image (url): <input type='text' ng-model='Products.newProduct.imgurl' placeholder='http://'></label>
    <label>Description: <textarea ng-model='Products.newProduct.desc'></textarea></label>    
    <label>Initial Quantity: <input type='number' ng-model='Products.newProduct.icount'></label>
    <input type='submit' value='add product' ng-click='Products.addProd()'>
</form>
<!-- <img src='https://help.github.com/assets/images/site/create-a-repo.gif' alt=''>


 -->

<table>
    <tr>
      <th>Product Name</th>
      <th>Created Date</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="product in Products.products | filter:filter_name | orderBy:'addDate'">
        <td><span ng-bind='product.name'></span></td>
        <td><span ng-bind="product.addDate | date:'MMM/dd/yyyy'"></span></td>
        <td>REMOVE</td>
    </tr>
</table></div>